.u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 984px;
}

.u-section-1 .u-group-1 {
  width: 955px;
  min-height: 421px;
  margin: 348px auto 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px -5px 2px rgba(255,255,255,1);
  font-size: 4.5rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-group-2 {
  width: 281px;
  min-height: 78px;
  background-image: none;
  margin: 75px auto 0 -20px;
}

.u-section-1 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-group-3 {
  width: 272px;
  min-height: 77px;
  background-image: none;
  margin: -73px 20px 58px auto;
}

.u-section-1 .u-link-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 22px auto 0 70px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 638px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 811px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-link-1 {
    position: relative;
  }

  .u-section-1 .u-link-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 299px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 45px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -77px;
    margin-right: -22px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 311px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 157px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
  }

  .u-section-1 .u-group-2 {
    margin-top: 80px;
    margin-right: -33px;
    margin-left: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: -78px;
    margin-right: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 138px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 135px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 118px;
    margin-left: 15px;
  }

  .u-section-1 .u-link-1 {
    margin-top: 0;
    margin-right: 48px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -176px;
    margin-right: auto;
    margin-left: 20px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 544px;
}

.u-section-2 .u-image-1 {
  width: 467px;
  height: 302px;
  margin: 96px auto 0 -27px;
}

.u-section-2 .u-group-1 {
  width: 570px;
  min-height: 227px;
  margin: -284px auto 0 285px;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  line-height: 1.7;
  font-size: 1rem;
  margin: 23px 20px 0;
}

.u-section-2 .u-image-2 {
  width: 467px;
  height: 302px;
  margin: -185px 46px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    width: 385px;
    height: 249px;
    margin-top: 50px;
    margin-left: -133px;
  }

  .u-section-2 .u-group-1 {
    width: 543px;
    min-height: 352px;
    margin-top: -238px;
    margin-right: 162px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 25px;
    margin-right: 24px;
    margin-left: 16px;
  }

  .u-section-2 .u-image-2 {
    width: 385px;
    height: 249px;
    margin-top: -238px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    width: 295px;
    height: 191px;
    margin-top: 41px;
    margin-left: -102px;
  }

  .u-section-2 .u-group-1 {
    width: 502px;
    min-height: 305px;
    margin-top: -96px;
    margin-right: -50px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -43px;
    margin-right: 164px;
    margin-left: -144px;
  }

  .u-section-2 .u-image-2 {
    width: 295px;
    height: 191px;
    margin-top: -137px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-2 .u-image-1 {
    width: 277px;
    height: 179px;
    margin-top: 0;
    margin-left: -138px;
  }

  .u-section-2 .u-group-1 {
    width: 503px;
    margin-top: -159px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-image-2 {
    width: 277px;
    height: 179px;
    margin-top: -84px;
    margin-right: -108px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 495px;
  }

  .u-section-2 .u-image-1 {
    width: 227px;
    margin-top: 31px;
    margin-left: -113px;
  }

  .u-section-2 .u-group-1 {
    min-height: 236px;
    width: 284px;
    margin-top: 9px;
    margin-right: -79px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -131px;
    margin-right: 70px;
    margin-left: -124px;
  }

  .u-section-2 .u-image-2 {
    width: 220px;
    margin-top: -139px;
    margin-right: -94px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 689px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 102px auto 102px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 505px;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 50px 20px;
}

.u-section-3 .u-image-1 {
  min-height: 505px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-image-1 {
    min-height: 707px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-image-1 {
    min-height: 505px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 682px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-position: 50% -10vh;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-position: 50% 50%;
  }
}.u-section-5 {
  background-image: none;
  min-height: 1110px;
}

.u-section-5 .u-image-1 {
  width: 501px;
  height: 222px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  margin: 888px auto 0 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -953px auto 157px;
}

.u-section-5 .u-image-2 {
  min-height: 484px;
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 243px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-5 .u-text-1 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-text-2 {
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 372px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 17px 230px 0 9px;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  margin: 23px 20px 0 0;
}

.u-section-5 .u-image-3 {
  min-height: 484px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 982px;
  }

  .u-section-5 .u-image-1 {
    width: 510px;
    height: 218px;
    margin-top: 956px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -1017px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-5 .u-image-2 {
    min-height: 399px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 200px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-2 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 307px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 16px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 157px;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    position: relative;
    margin-right: 16px;
  }

  .u-section-5 .u-image-3 {
    min-height: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 1805px;
  }

  .u-section-5 .u-image-1 {
    width: 449px;
    height: 199px;
    margin-top: 1578px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -1702px;
    margin-bottom: 171px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-5 .u-image-2 {
    min-height: 611px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 99px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-5 .u-image-3 {
    min-height: 611px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 1499px;
  }

  .u-section-5 .u-image-1 {
    width: 421px;
    height: 187px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-5 .u-image-2 {
    min-height: 458px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 47px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 5px;
  }

  .u-section-5 .u-image-3 {
    min-height: 458px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1088px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    margin-top: 1847px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1863px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-2 {
    min-height: 288px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 1px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 14px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 1px;
  }

  .u-section-5 .u-image-3 {
    min-height: 288px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 357px;
}

.u-section-6 .u-group-1 {
  width: 791px;
  min-height: 238px;
  margin: 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  margin: 23px 0 0;
}

.u-section-6 .u-text-2 {
  font-style: italic;
  margin: 20px 0 23px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 652px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 500px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }
}.u-section-7 {
  background-image: none;
  min-height: 403px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-7 .u-image-1 {
  min-height: 403px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  min-height: 403px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  min-height: 403px;
  background-position: 50% 50%;
}

.u-section-7 .u-image-4 {
  min-height: 403px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 612px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 75px auto 75px 0;
}

.u-section-8 .u-image-1 {
  min-height: 482px;
  background-position: 50% 50%;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 482px;
  background-image: none;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-8 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  font-style: italic;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 482px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 153px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 220px;
    margin-bottom: 220px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-image-1 {
    min-height: 702px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 702px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 702px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 0;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 283px;
    margin-bottom: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 568px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 5px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 187px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 5px;
  }

  .u-section-8 .u-text-2 {
    width: 535px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-bottom: 74px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 1px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 1px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 1px;
  }

  .u-section-8 .u-text-2 {
    width: 340px;
  }
}.u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35));
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 500px;
}

.u-section-9 .u-group-1 {
  width: 748px;
  min-height: 191px;
  margin: 258px auto 50px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 20px 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 138px;
  min-width: 94px;
  margin: 20px auto 0;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-text-2 {
  font-style: italic;
  margin: 20px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-group-1 {
    width: 617px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-9 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-group-1 {
    width: 472px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-group-1 {
    width: 443px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 340px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}